<h2 class="w3-containter w3-padding-jumbo w3-teal">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="w3-containter w3-padding-jumbo">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %><br>
  
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %> <br>
  

  
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %> <br>
  
    <%= f.submit "Sign up", class: "w3-btn w3-teal" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
